h1 {
  color: #FFD700;
  text-align: center;
  font-size: 55px;
  font-style: italic;
}
body {
    background-image: url("http://www.clker.com/cliparts/3/7/d/5/1197103862376117882Gioppino_Soccer_Ball.svg.hi.png");
    background-repeat: repeat-y;
}
